/* Variables */
$ionicons-font-path: "~ionicons/dist/fonts";
$radius-3: 3px;
$radius-5: 5px;

/* Imports */
@import "~bootstrap/scss/bootstrap";
@import "~ionicons/dist/scss/ionicons";

/* General styles */
body {
	padding-top: 65px;
}

.badge {
  text-transform: uppercase;
  border-radius: $radius-3;
}

.badge-transparent {
  font-weight: normal;
  padding: 0;
}

/* Block Helpers */
.no-padding-vertical {
  padding-left: 0;
  padding-right: 0;
}

.no-padding-horizontal {
  padding-top: 0;
  padding-bottom: 0;
}

.no-padding {
  @extend .no-padding-vertical;
  @extend .no-padding-horizontal;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Image Helpers */
.img-responsive {
  display: block;
  width: 100%;
  height: auto;
}