<section
 id="featured-live-programs"
 class="container-fluid">
  <program-preview
   thumbnail="../assets/images/live-promo-demo.jpg"
   programTitle="Central FOX"
   isLive="true">
  </program-preview>
  <program-preview
   thumbnail="../assets/images/live-promo-demo-2.jpg"
   programTitle="Central FOX Chile"
   isLive="true">
  </program-preview>
  <program-preview
   thumbnail="../assets/images/live-promo-demo-3.png"
   programTitle="Liga de Italia"
   isLive="false">
  </program-preview>
</section>